html,body{
  background-color:   #f2f2f2;
  margin:0px;
  height:100%;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  color: grey;
}
.logo{
    width  : 110px;
    height : 50px; 
    position: absolute;
    z-index: 0;
    
}
.layout{
    height:100vh;
    top:0;
    left:0;
    z-index: 1;
}
.drag-area{
  /* height:100vh; */
  width: 100vh;
  top:0;
  left:0;
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
  z-index: 2;
}
.Header{
    width  : 500px;
    height : 50px; 
    /* border-style: solid; */
    position: absolute;
    font-size: 20px;
    font-weight: 800;
    top    : 1%;
    left   : 1%;
}
.header-text
{
    top    : -5px;
    left   : 115px; 
    position: absolute;
    
}
.CDSID
{
    top    : 0 !important;
    padding: 5px;
    right   : 10px !important; 
    text-align:center;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(72, 201, 72);
    border-radius: 5px;
    box-shadow: inset -2px -2px 6px rgba(255, 255, 255, .7),
                inset -2px -2px 4px rgba(255, 255, 255, .5),
                inset 2px 2px 2px rgba(255, 255, 255, .075),
                inset 2px 2px 4px rgba(0, 0, 0, .15);
    position: fixed;
}

.menu{
    width  : 9% ;
    height : 300px !important;
    position: absolute ;
    margin-top:15%;
    background-color: #f2f3f7;
    border-radius: 15px;
    box-shadow: 9px 9px 16px rgb(163,177,198,0.6),
     -9px -9px 16px rgba(255,255,255, 0.5);
    z-index: 0;
}



.btn{
    width  : 90%;
    height : 20%;
    font-size: 24px;
    background-color:inherit;
    border-radius:50px;
    border-style: none;
}

.sub-menu
{
position: absolute;
margin-top:15%;
left    :  10%;
width   :  27%;
height  :  600px;
padding :  10px ;
padding-left: 0 !important;
background-color: #f2f3f7;
    border-radius: 15px;
    box-shadow: 9px 9px 16px rgb(163,177,198,0.6),
     -9px -9px 16px rgba(255,255,255, 0.5);

text-align: center;
}

#Tools,#layers,#Notifications,#AssetTree,#Settings{
    visibility: hidden;
}
#btn-menu-close{
    position: absolute;
    margin-top:0;
    right    :  10px;
    font-size: 20px;
    border-width: 0;
    z-index: 2;
    visibility: hidden;
    background-color: #f2f3f700;
}

.Label1{
    width  : 200px!important;
    height : 70px!important;
}
.Label{
    width  : 80%;
    height : 15%;
}
.AssetBox{
    width  : 80%;
    height : 10%;
}
.Graph,.Table{
    width  : 80%;
    height : 25%;
}
@media only screen and (max-width: 750px)
{
    .Graph,.Table{
        width  : 80%;
        height : 20%;
    }
    .sub-menu{
        height:400px;
    }
    .menu{
        width  : 25% !important;
    }
}
.newLayer{
width: 150px;
height:30px;
margin-top: 0 !important;
}
.Menu-Button {
    margin-top: 15px;
    font-size: 15px;
    background: #efefef;
    border: none;
    border-radius: .5rem;
    color: #444;
    /* padding-top: 10%; */
    /* letter-spacing: .2rem; */
    text-align: center;
    outline: none;
    cursor: pointer;
    transition: .2s ease-in-out;
    box-shadow: -6px -6px 14px rgba(255, 255, 255, .7),
                -6px -6px 10px rgba(255, 255, 255, .5),
                6px 6px 8px rgba(255, 255, 255, .075),
                6px 6px 10px rgba(0, 0, 0, .15);
  }
  .btn:hover,.Menu-Button:hover {
    box-shadow: -2px -2px 6px rgba(255, 255, 255, .6),
                -2px -2px 4px rgba(255, 255, 255, .4),
                2px 2px 2px rgba(255, 255, 255, .05),
                2px 2px 4px rgba(0, 0, 0, .1);
  }
  .btn:active,.Menu-Button:active {
    box-shadow: inset -2px -2px 6px rgba(255, 255, 255, .7),
                inset -2px -2px 4px rgba(255, 255, 255, .5),
                inset 2px 2px 2px rgba(255, 255, 255, .075),
                inset 2px 2px 4px rgba(0, 0, 0, .15);
  }

.layerlist
{
    padding-left: 10px;
    text-align: left;
}
.layeritem
{
    margin-top:10px;
}
.Reset{
    bottom     : 20px !important;
    width: 5%;
    padding-top:1%;
    padding-bottom: 1%;
    font-size: 24px;
    right   : 20px !important; 
    position: fixed;
}
@media only screen and (max-width: 750px)
{
    .Reset{
        width: 10%;
        padding-top:2%;
        padding-bottom: 2%;
    }
}